body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #9db5c2;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header {
    margin-top: 20px;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
    color: #333;
    text-align: center;
}

.controls {
    background: #e5eaf5;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 90%; /* Changed to 90% for better mobile fit */
    max-width: 600px; /* Set a maximum width */
}

.inputs, .dropdowns {
    display: flex;
    flex-direction: column; /* Stack elements vertically for small screens */
    align-items: center; /* Center elements horizontally */
    margin-bottom: 15px;
}

label {
    font-weight: 600;
    margin-right: 10px;
}

input, select {
    padding: 8px;
    margin: 5px 0; /* Adjusted margin for better spacing */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%; /* Make input fields full width */
    max-width: 200px; /* Set a maximum width for input fields */
}

select {
    width: 100%; /* Make select dropdown full width */
}

.buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons */
    margin-top: 20px;
}

.left-button, .right-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px 0; /* Adjusted margin for spacing */
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%; /* Make buttons full width */
    max-width: 200px; /* Set a maximum width for buttons */
}

.right-button {
    background-color: #28a745;
}

.left-button:hover {
    background-color: #0056b3;
}

.right-button:hover {
    background-color: #218838;
}

.left-button:focus, .right-button:focus {
    outline: none;
}

#visualization {
    margin: 20px auto;
    border: 2px solid #647a86;
    border-radius: 10px;
    background-color: #9db5c2;
    width: 90%; /* Adjusted for better mobile fit */
    max-width: 600px; /* Set a maximum width */
}

canvas {
    display: block;
    margin: 20px auto;
    border: 2px solid #ddd;
    background-color: #f0f2f5;
    border-radius: 10px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
    h1 {
        font-size: 1.8em; /* Adjusted font size for mobile */
    }

    .controls {
        padding: 15px;
        margin: 10px;
    }

    input, select, .left-button, .right-button {
        max-width: 100%; /* Full width on mobile */
    }
}
